
<!--   Core JS Files   -->
<script src="../public/js/core/popper.min.js" type="text/javascript"></script>
<script src="public/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="public/js/plugins/perfect-scrollbar.min.js"></script>
<script src="public/js/plugins/countup.min.js"></script>
<script src="public/js/plugins/choices.min.js"></script>
<script src="public/js/plugins/prism.min.js"></script>
<script src="public/js/plugins/rellax.min.js"></script>
<script src="public/js/plugins/tilt.min.js"></script>
<script src="public/js/plugins/choices.min.js"></script>



<script src="public/js/soft-design-system.min.js?v=1.0.9" type="text/javascript"></script>

</body>

</html>