
<!--   Core JS Files   -->
<script src="public/js/core/popper.min.js" type="text/javascript"></script>
<script src="public/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="public/js/plugins/perfect-scrollbar.min.js"></script>
</body>

</html>